* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    min-height: 100vh;
    width: 100%;
}
.app__charts {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.app__chart {
    width: 90%;
}
@media screen and (max-width: 750px) {
    .app__charts {
        grid-template-columns: 1fr;
    }
}
